
.header {
    padding: 20px 0px;
    top: 0;
    left: 0;
    width: 100%;

    

    .headerContainer {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 20px;
    }

    .logo {
        width: 300px;
        z-index: 30;
        position: relative;
    }

    .menuBody {
        .menuList {
            display: flex;
            align-items: center;
            flex-direction: row;
            li {
                list-style-type: none;
                padding: 0 20px;
                .menuLink.active {
                    color: blue;
                    cursor: default;
                }
                .menuLink {
                    text-decoration: none;
                    color: #6e6e6e;
                    font-size: 18px;
                }

                .menuLink:hover {
                    opacity: 0.5;
                    transition: 0.2s ease;
                }
                .menuLink.active:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.menuList > li {
    position: relative;
}

.menuIcon {
    display: none;
}

@media (max-width: 768px) {

    
    .header {
        .logo {
            width: 200px;
            z-index: 10000;
        }

        .headerContainer {
            justify-content: space-between;
        }

        .menuBody {
            position: fixed;
            overflow: auto;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate(-100%, 0px);
            background-color: rgba(0, 0, 0, 0.9);
            padding: 100px 0;
            transition: all 0.3s ease 0s;
            z-index: 9999;

            .menuList {
                display: flex;
                flex-direction: column;
                padding-left: 0px;
                align-items: flex-start;
                font-size: 20px;
                li {
                    .menuLink {
                        color: rgb(190, 190, 190);
                    }
                }
            }
            .menuList > li {
                margin: 0px 0px 20px 0px;
            }

            .menuList > li:last-child {
                margin-bottom: 0;
            }
        }

        .menuBody._active {
            transform: translate(0px, 0px);
        }

        .menuIcon {
            display: block;
            width: 30px;
            height: 18px;
            position: relative;
            cursor: pointer;
            z-index: 10000;
        }

        .menuIcon span,
        .menuIcon::before,
        .menuIcon::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: green;
        }

        .menuIcon::before,
        .menuIcon::after {
            content: "";
        }

        .menuIcon::before {
            top: 0;
        }

        .menuIcon::after {
            bottom: 0;
        }

        .menuIcon span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }

        .menuIcon._active span {
            transform: scale(0) translate(0px, -50%);
        }

        .menuIcon._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        .menuIcon._active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }
}

.header .menuBody .menuList li .menuLink.active  {
    color: green;
}
