
.headerBlock {
    padding: 20px 0px;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;

    .logo {
        width: 300px;
    }

    .mainMenu {
        .navItem {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }
    
}




