.fullInfoBlock {
    .fullInfoCard {
        display: flex;
        list-style-type: none;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: rgba($color: #a6a6a6, $alpha: 0.5);
        .infoContainer1 {
            margin-right: 20%;
        }
        .time {
            color: green;
            font-size: 20px;
        }
    }
}

.popup {
    position: relative;
    
}



@media (max-width: 768px) {
    .fullInfoBlock {
        .fullInfoCard {
            display: flex;
            flex-direction: column;
            margin: 0 20px 20px 20px;
            .infoContainer {
                li {
                    margin: 5px 0px;
                }
            }
        }
    }
}
