body {
    background-image: url("../src/images/forest-3622519.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
  }

body._lock {
  overflow: hidden;
}



.button {
  display: block;
  background-color: #206a09;
  width: 20vw;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin: 10px auto;
  padding: 8px 5px;
  border-radius: 15px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s ease;
}

select:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@media (max-width: 768px) {
    .button {
      width: 70%;
    }
}